<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blockpicker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlockPicker">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".LoginActivity" />

        <activity
            android:name=".PalettesActivity"
            android:label="" />

        <activity
            android:name=".PalettesDetailActivity"
            android:label="" />

        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".PalettesActivity" />

        <activity
            android:name=".FindPalettesActivity"
            android:parentActivityName=".PalettesActivity"
            android:label="" />

        <activity
            android:name=".CreatePalettesActivity"
            android:parentActivityName=".PalettesActivity"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>